  </div>

  <footer class="centered">
    <p>This is some footer text to show that the footer partial is here</p>
    <p>It should be sticky</p>
  </footer>

  
  <script src="/js/vendor/jquery.js"></script>
  <script src="/js/vendor/foundation.min.js"></script>
  <script src="/js/vendor/foundation.js"></script>
  <script src="/js/app.js"></script>
  </body>
</html>
